<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
<div class="header-container">
    <header class="wrapper clearfix"><a href="">
        <h1>Bookmarks</h1>
    </a>
        <nav>
            <ul>
                <li><a href="{{ url_for('main.home')}}">Home page</a></li>
                <li><a href="{{ url_for('main.add')}}">Add bookmark</a></li>
            </ul>
        </nav>
    </header>
</div>
<div class="main-container">
    <div class="main wrapper clearfix">
        {% block content %}
        {% endblock %}
        <aside></aside>
    </div>
</div>


</body>
</html>